body {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  transition: transform .5s;
}
.small-input {
  font-size: 1.1em;
  border: none;
  padding: .2em;
  margin: .1em;
  cursor: pointer;
  color: #128;
  outline: 0;
}
body cms-toolbar {
  background: #fff;
  box-shadow: 0 0 10px #888;
  margin: 0 0 1em -1000px;
  padding: 0.5em;
  border: 1px solid #888;
  border-radius: 4px;
  opacity: 0.4;
  transition: all 0.4s;
  z-index: 999;
  position: absolute;
}
body.cms-active cms-toolbar {
  margin-left: 0;
  opacity:1 ;
  /*position: initial;*/
}

body #cmsToggler{
  background: #ddd;
  box-shadow: 0 0 10px #888;
  position:fixed;
  top:.5em;
  right:.5em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  border: 1px solid #888;
  border-radius: 4px;
  opacity: 0.6;
}

body #cmsToggler:hover{
  opacity:1;
}

body.cms-active #cmsToggler{
  background: #080;
  color:#fff;
}
