body [draggable]{
  transition: opacity 0.5s, border 1s, transform 300ms;
}

body.cms-active [draggable] {
  cursor: pointer;
  border: 1px dashed #08f;
}
body.cms-active [draggable].moving {
  opacity: 0.3;
  border: 1px solid #08f;
  cursor: move;
}
body.cms-active [draggable].prospect {
  opacity: 0.8;
  border: 1px solid #08f;
  transform: scale(0.95,0.95);
  box-shadow: 0 0 20px #08f;
}
