body [draggable]{
  transition: opacity 0.5s, border 1s, transform 300ms;
}

body.cms-active [draggable] {
  cursor: pointer;
  border: 1px dotted #00f;
}
body.cms-active [draggable].moving {
  opacity: 0.1;
  border: 1px dashed #008;
  cursor: move;
}
body.cms-active [draggable].prospect {
  opacity: 0.9;
  border: 1px dashed #008;
  transform: scale(0.9,0.9);
}
