body {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  transition: transform .5s;
}
tweets-panel {
  float: left;
  display: inline;
  width: 260px;
  background: #f4f4f4;
  border: 1px solid #ddd;
  padding: 220px 20px;
  text-align: center;
  font-weight: bold;
  margin: 0 10px;
  transition: margin .5s;
}
@media (max-width: 1020px) {
  tweets-panel {
    display: block;
    float: none;
    width: auto;
    margin-bottom: 10px;
  }
}
